<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>


<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getBookId()})}" th:object="${book}">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name"/>

    <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
    <br/>

    <label for="author">Author</label>
    <input type="text" th:field="*{author}" id="author"/>

    <div style="color: red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Author error</div>
    <br/>

    <label for="year">Year</label>
    <input type="text" th:field="*{year}" id="year"/>

    <div style="color: red" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year error</div>
    <br/>

    <label for="took_at">Took at</label>
    <input type="text" th:field="*{tookAt}" id="took_at"/>

    <div style="color: red" th:if="${#fields.hasErrors('tookAt')}" th:errors="*{tookAt}">took_at error</div>
    <br/>

    <input type="submit" value="Update">
</form>

</body>
</html>